<h1> {{propiedad?.titulo}} </h1>
<form #formulario="ngForm">
    <div class="row">
        <div class="col-md-4">
            <img src="http://localhost/api/propiedades/{{propiedad.imagen||'nodisponible.png'}}"
                alt="{{propiedad.titulo}}">
            <input type="text" name="file" [(ngModel)]="propiedad.imagen">
            <input type="file" name="imagen" (change)="capturarImagen($event)">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appareance="legacy">
                        <mat-label>Código</mat-label>
                        <input matInput placeholder="Código de la propiedad" [(ngModel)]="propiedad.codigo" name="codigo" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appareance="legacy">
                        <mat-label>Titulo</mat-label>
                        <input matInput placeholder="Título de la propiedad" [(ngModel)]="propiedad.titulo"
                            name="titulo" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appareance="legacy">
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Dirección de la propiedad" [(ngModel)]="propiedad.direccion" name="direccion" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appareance="legacy">
                        <mat-label>Propietario</mat-label>
                        <input matInput placeholder="Nombre del Propietario" [(ngModel)]="propiedad.propietario" name="propietario" />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appareance="legacy">
                    <mat-label>Precio</mat-label>
                    <input matInput placeholder="0" [(ngModel)]="propiedad.precio" name="precio" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appareance="outline">
                    <mat-label>Operación</mat-label>
                    <select matNativeControl required [(ngModel)]="propiedad.operacion" name="operacion">
                        <option value="alquiler"> Alquiler </option>
                        <option value="venta"> Venta </option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appareance="legacy">
                    <mat-label>Metros cuadrados</mat-label>
                    <input matInput placeholder="Metros cuadrados" [(ngModel)]="propiedad.mt2" name="mt2" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appareance="legacy">
                    <mat-label>Ambientes</mat-label>
                    <input matInput placeholder="Cantidad de ambientes" [(ngModel)]="propiedad.ambientes"
                        name="ambientes" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appareance="legacy" style="width: 100%;">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput [(ngModel)]="propiedad.descripcion" name="descripcion"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div>
            <button mat-raised-button color="primary" (click)="upload();guardarPropiedad(propiedad.id)" type="button">
                <mat-icon>done</mat-icon>Guardar
            </button>
            @if( propiedad.id > 0 ) {
            <button mat-raised-button color="warn" (click)="eliminarPropiedad(propiedad.id)">
                <mat-icon>delete</mat-icon>Eliminar
            </button>
            }
        </div>
    </div>
</form>