<nav>
    <mat-toolbar color="primary">
        <!-- Botón de menú -->
        <button mat-icon-button class="example-icon" aria-label="Menú">
            <mat-icon>menu</mat-icon>
        </button>

        <!-- Login/Logout -->
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Acceso">
            <a mat-list-item *ngIf="!logueado" [routerLink]="['/login']">Login</a>
            <a mat-list-item *ngIf="logueado" (click)="logout()">Logout</a>
        </button>

        <!-- Espaciador -->
        <span class="spacer"></span>

        <!-- Logo -->
        <a [routerLink]="['/']">
            <img src="/assets/lafincalogo.png" alt="Logo" class="logo-img">
        </a>
    </mat-toolbar>
</nav>